* {
    text-align: center;
}

.cartList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.listNodes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    width: 50%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 50px -12px;
}

.itemDetails {
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
}

.cartImage img {
    width: 150px;
    height: 150px;
}

@media (max-width: 768px) {
    .listNodes {
        width: 90%;
    }
    .cartImage img {
        width: 100px;
        height: 100px;
    }
}