* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1em 2em;
    background-color: #122620;
    color: #F4EBD0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: auto;
    font-size: 3rem;
}

.cart {
    /* display: flex;
    align-items: center; */
    float: flex-end;
    width: 45px;

}

@media (max-width: 768px) {
    .header h1 {
        font-size: 1.7rem;
    }

    .cart {
        width: 30px;

    }
}