* {
    padding: 0;
}

.app {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #F4EBD0;
}

::-webkit-scrollbar-thumb {
    background: rgba(18, 38, 32, 0.9);
}

::-webkit-scrollbar-thumb:hover {
    background: #122620;

}