button {
    background-color: #122620;
    color: #F4EBD0;
    border-radius: 8px;
    padding: 8px 24px;
    border: 1px solid black;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}

button:hover {
    background-color: #fff;
    color: #122620;
}